mixin videoBlock(video)
    .video-block
        a(href=`${routes.videos}${routes.videoDetail(video.id)}`)
            video.video-block--thumnail(src=video.videoFile, controls=true)
            h4.video-block--title=video.title
            h6.video-block-views=video.views
